@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:poppins-light;
	src: url(../fonts/poppins/Poppins-Light.ttf);
}
@font-face{
	font-family:poppins-medium;
	src: url(../fonts/poppins/Poppins-Medium.ttf);
}
@font-face{
	font-family:poppins-regular;
	src: url(../fonts/poppins/Poppins-Regular.ttf);
}
@font-face{
	font-family:poppins-semibold;
	src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face{
	font-family:poppins-bold;
	src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face{
	font-family:alexbrush;
	src: url(../fonts/AlexBrush-Regular.ttf);
}