@charset "utf-8";
/* CSS Document */
@import url(fonts.css);

html,body{height:100%; font-family: poppins-regular; background:#184991;}
body.white_bg{background:#fff; height:auto;}
.wrapper{height:100%;}
a{outline:none !important; border:none;}
h4.main-heading{font-family:poppins-semibold; font-size:35px; color:#fff; margin-bottom:30px; opacity: .7}
h5.sub-main-heading{font-family:poppins-light; font-size:23px; color:#fff; opacity: .7}
*:focus{border:none !important; outline:none !important;}

.section-padding {
    padding: 50px 0;
}
.section-margin{margin:0px 0 50px}

#myScrollspy {position: fixed; left: 5%; z-index: 1000; top: 50%; width: 200px; transform:translate(0, -50%);}
.nav.side_nav li{position:relative; padding: 10px 0;}
.nav.side_nav li a{color: #fff; font-size: 12px; font-family: poppins-light; background: none; opacity: .7; display: inline-block;    padding: 0; line-height: 20px; transition: .5s ease all; position: relative; position: absolute; left: 0; top: 0;}

.nav.side_nav li:hover a{opacity: 1; color: #FFFFFF; transition: .5s ease all; transform: scale(1.2); transform-origin: top left;}
.nav.side_nav li.active a{opacity: 1; color: #FFFFFF; transition: .5s ease all; transform: scale(1.2); transform-origin: top left;}
.banner_section{position:relative; width:100%; height:100%; background: url(../images/circle_bg.jpg) no-repeat top center/92%;}
.logo{font-family: alexbrush; font-size:40px; color:#fff; position:fixed; left:5%; top:3%; z-index: 3;}
.logo a{text-decoration:none; color:#fff;}
.banner_section .navbar{background:none; display:inline-block; border:none; position:fixed; top:3%; right:5%; z-index: 3;}

.banner_section .navbar ul li a{color:#fff;}
.banner_section .navbar ul li a:hover{color:#fff;}
.banner_section .navbar .navbar-collapse{padding:0; margin: 0; width:100%;}

.banner_section .banner_footer{position:absolute; bottom:0; width:100%; height:auto; border:solid 1px #f00;}
.banner_section .banner_footer .logos{}
/*.banner_section .punch_line{position:absolute; right:7%; top:50%; transform:translate(0, -50%); font-size:30px; font-family:poppins-regular; text-transform: uppercase; font-style: oblique; color:#fff;}*/
.banner_section .element{font-size:30px; font-family:poppins-regular; text-transform: uppercase; font-style: oblique; color:#fff;}
.typed-cursor, .element {
    display: inline;
    font-weight: 300;
    font-size: 28px;
	color: #fff;
}
.banner_section .logos{position: fixed; left: 5%; bottom: 3%; z-index: 10;}
.banner_section .logos a{margin-right: 25px;}
.banner_section .scroll_down{position:absolute; bottom:3%; color:#fff; text-align:center; text-decoration:none; left:50%; transform:translate(-50%, 0)}
.banner_section .scroll_down i{font-size:40px;}
.banner_section .scroll_down em{display:block; margin-top: -17px; font-size:10px; font-style:normal; }


.social_icons{position:fixed; right:5%; bottom:3%;  z-index: 10;}
.social_icons ul li a{position:relative; color:#fff; margin:0 10px; transition:.5s ease all;}
.social_icons ul li a:before{content:""; position:absolute; height: 12px; width: 12px; border-radius: 100px; background-color: #D63A3A;	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.34); z-index: 1; left:-8px; transition:.5s ease all;}
.social_icons ul li a:hover:before{width:25px; height:25px; transition:.5s ease all;}
.social_icons ul li a i{position:relative; z-index: 2; font-size:18px;}
.social_icons.social_about{position: static; float: none !important; margin-top: 40px;}

.featured_bg{position:relative; text-align: center;}
.featured_bg .bio{width:513px; height:auto; margin:0 auto; position:relative; margin-bottom: 20px;}
.featured_bg .bio img{margin-top:15px; width:100%; }
.featured_bg .bio .designation{position:absolute; color:#fff; top:50%; font-family: poppins-semibold; font-size:15px;}
.featured_bg .bio .designation em{font-style:normal; font-family: poppins-light; font-size:14px;}
.featured_bg .bio .designation.designation_aux{left:-110px}
.featured_bg .bio .designation.designation_cashaa{right:-160px}
.featured_bg .bio .other_links{position:absolute; bottom:18px}
.featured_bg .bio .other_links:before{content:""; position:absolute; height: 55px;	width: 55px;	border-radius: 100px;	background-color: #D63A3A;	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.34); top: -8px; z-index: 1;}
.featured_bg .bio .other_links.link-left:before{right: -16px;}
.featured_bg .bio .other_links.link-right:before{left: -16px;}
.featured_bg .bio .other_links a{font-family:poppins-semibold; font-size:19px; color:#fff; text-decoration: none; position:relative; z-index: 2; display: inline-block;}
.featured_bg .bio .other_links a span{display:block; font-family: poppins-light; font-size:15px; margin-top:-5px;}
.featured_bg .bio .other_links.link-left{left:60px;}
.featured_bg .bio .other_links.link-right{right: 104px;}

.recognitions{color:#fff; position: relative; background: url(../images/recognition_bg.jpg) no-repeat fixed center center/cover; height:100%; margin-bottom: 0; overflow:hidden;}
.recognitions:before {content: ""; position: absolute; background: rgba(0,0,0,.5); left: 0; top: 0; width: 100%;  height: 100%;}
.recognitions .recognitions_box{position:absolute; right:7%; top:50%; transform:translate(0, -50%);}
.recognitions h1{font-size:40px; font-family:poppins-bold; color:#fff;}
.recognitions .pointers{margin:30px 0}
.recognitions .pointers div.recog_points{display:inline-block; position:relative; width:80px; height:80px; float:left;}
.recognitions .pointers p{display:inline-block; float:left; margin-top: 30px; padding-left: 30px;}
.recognitions .pointers div.recog_points:before{content:""; position:absolute; border-radius: 100px; background-color: #FFFFFF;	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.34); left:0; top:0px; z-index: 1; width:80px; height:80px;}
.recognitions .pointers div.recog_points .top{position: absolute; top: 6px; z-index: 2; color: #000; font-size: 14px; left: 19px;}
.recognitions .pointers div.recog_points .number{position: absolute; top: 18px; color: #D63A3A; font-size: 50px; font-family: poppins-bold; z-index: 2; left: 16px; text-shadow: 0 4px 12px 0 rgba(0,0,0,0.31);} 
.recognitions .pointers div.recog_points .flag {position: absolute; top: 25px; left: 16px; z-index: 2;}


.about-area{color:#fff; position:relative;}
.about-area p{line-height: 25px;}
.about-area .author-image img {
    width: 100%;
    height: auto;
}
.view_more_btn{background:transparent; color:#fff; border:solid 2px #fff; transition:.5s all ease; margin:15px 0}
.view_more_btn:hover{background:#D63A3A; color:#fff; border:solid 2px #fff;}

.media-area{color:#fff; position: relative; height:100%; padding:100px 0 0}
.media-area .media_card{background: rgba(0,0,0,0.17); margin:10px 0; padding:20px 30px; border-radius: 8px;}
.media-area .media_card p{color:#fff; font-size:14px; font-family:poppins-regular; font-style: italic; margin-bottom:0; line-height: 23px;}
.media-area .media_card a{color:#fff; font-family:poppins-medium; text-decoration: none; font-size:13px; display:inline-block; margin-top:20px;}
.media-area .media_card .media_img{text-align:center; }
.media-area .media_card .media_img img{display:inline-block; width:200px;}
.common-owl .owl-dots{position:absolute; right:80px;}
.common-owl.owl-dots .owl-dot{box-shadow:none !important;}
.common-owl .owl-dots .owl-dot span {	
    width: 20px !important;
	height: 6px !important;	
}
.common-owl .owl-dots .owl-dot.active span{background:#D63A3A !important;}
.media-area .media-box, .common-box, .speaking_sessions .speaking_box{position:relative;}
.view_link{position:absolute; right:0; bottom:-25px; color:#fff; font-family:poppins-medium; font-size:12px; transition:.5s all ease; text-decoration: none !important;}
.view_link:hover{color:#D63A3A; transition:.5s all ease;}

.speaking_sessions{}
.speaking_sessions .card-box{text-align: center; margin:15px 0;}
.speaking_sessions .session_cards{background:#fff; width:230px; height:230px; border-radius:100%; text-align: center; display:inline-block; position:relative; transition: .9s ease all ;}
.speaking_sessions .session_cards a{display: inline-block; height: 100%; width:100%;}
.speaking_sessions .session_cards .session_org{width:100%; text-align: center; position:absolute; top:50%; left:0; transform:translate(0, -50%); transition:.5s ease all; }

.speaking_sessions .session_cards .session_org img{display: inline-block; height: 57px; width:auto;}
.speaking_sessions .session_cards .session_venue{position:absolute; bottom:10px; left:50%; width:115px; transform: translate(-50%,0); transition: .5s; text-align: center;}
.speaking_sessions .session_cards:hover .session_venue {transition: .5s; left: 8%; transform: translate(-2%,0);text-align: left; }
.speaking_sessions .session_cards .session_venue span{font-family:poppins-medium; font-size:12px; color:#000; display:block;}
.speaking_sessions .session_cards .session_venue em{font-family:poppins-regular; font-size:12px; color:#333; font-style: normal}
.speaking_sessions .session_cards .session_flag{position:absolute; right:0; bottom:10px;;  transition:.5s ease all; width:60px; height:60px;}
/*===flag===*/
.speaking_sessions .session_cards .session_flag.us_flag{background: url(../images/flags/us_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.belgium_flag{background: url(../images/flags/belgium_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.china_flag{background: url(../images/flags/china_flag.jpg) no-repeat left top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.canada_flag{background: url(../images/flags/canada_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.russia_flag{background: url(../images/flags/russia_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.poland_flag{background: url(../images/flags/poland_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.malaysia_flag{background: url(../images/flags/malaysia_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.uae_flag{background: url(../images/flags/uae_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.uk_flag{background: url(../images/flags/uk_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.india_flag{background: url(../images/flags/india_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.estonia_flag{background: url(../images/flags/estonia_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.lanka_flag{background: url(../images/flags/lanka_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.bahrain_flag{background: url(../images/flags/bahrain_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.botswana_flag{background: url(../images/flags/botswana_flag.jpg) no-repeat center top/cover; border-radius:100%;}
.speaking_sessions .session_cards .session_flag.netherland_flag{background: url(../images/flags/netherland_flag.jpg) no-repeat center top/cover; border-radius:100%;}
/*===End flag===*/
.speaking_sessions .session_cards .session_desc{position:absolute; opacity:0; width:100%; color:#000; padding:15px;  transition: .5s all ease; top:20%; left:50%; transform:translate(-50%,-20%); font-size:12px;}

.speaking_sessions .session_cards:hover{border-radius:8px; transition: .5s all ease;}
.speaking_sessions .session_cards:hover .session_org{transition: .5s; top:20%;}
.speaking_sessions .session_cards:hover .session_desc{opacity:1; top:50%; left:50%; transform:translate(-50%,-50%); transition: .5s all ease; transform-origin: top left;}
.speaking_sessions .session_cards:hover .session_flag{border-radius:5px; transition:.5s ease all; width:70px; right:-10px;}

.social_presence{position:relative;}
.social_presence .video_box{
	position:relative;
	margin:15px 0;
}
.social_presence .video_box:before{
	position:absolute; content:""; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.3); z-index: 1
}
.social_presence .video_box a{position:absolute; width:60px; height:60px; z-index: 3; border:solid 2px #fff; border-radius:100%; left:20px; top:50%; transform:translate(0,-50%); text-align: center;}
.social_presence .video_box a i{top:11px; position:absolute; font-size:30px; color:#D63A3A; left:26px}
.social_presence .video_box h3{position:absolute; bottom:0; color:#fff; z-index: 2; font-size:13px; padding:10px; line-height: 22px; margin:0;}
.social_presence a.view_link{right:15px;}

/*======About Page=====*/
.header_cont{height:100px; position:relative;}
/*.header_cont .logo{top:40px;}
.header_cont .navbar{top:40px;}*/
.about-area .company_details{margin-bottom:30px;}
.about-area .company_details .company_img{margin:30px 0;}
.about-area .company_details .company_img img{width: 220px; display:inline-block;}
.about-area .company_details p{margin:30px 0;}

.personal_life{background:url(../images/early_life.jpg) no-repeat fixed center center/cover; height:100%; position:relative;}
.personal_life:before{content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); color:#fff;}
.personal_life .personal_box{position:absolute; right:0; width:100%; top:50%; transform:translate(0,-50%);}
.personal_life .personal_box p{color:#fff; font-family:poppins-light; font-size:15px; line-height:22px;}

.follow_lifestyle h4.main-heading{color:#fff; font-family:poppins-light; text-align:center;}
/*======End About Page=====*/

/*======media Page=====*/
.media_card_inside{position:relative; height:400px; background:#133c77; color:#fff; margin:15px 0;}
.media_card_inside a{display:inline-block; width:100%; height:100%; position:relative; color:#fff; text-decoration:none; padding:15px;}
.media_card_inside img{width:auto; height: 45px;}
.media_card_inside h5{line-height:20px; font-family:poppins-semibold; font-size:13px;  margin-top:30px; text-transform:uppercase;}
.media_card_inside span{display:block; margin-top:0px; font-family:poppins-light; font-size:12px; color:#fff;}
/*.media_card_inside:before{content:""; position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;}*/
.media_card_inside p{color: #fff; font-family: poppins-light; font-size: 14px; margin-top: 30px; margin-bottom: 0; font-style: italic; line-height: 24px;}
.media_card_inside .media_img{height:50px;}

/*======End Media Page=====*/

/*======Event Page=====*/
.events_page .session_cards .session_org img{height: 57px;}
/*.events_page .session_cards{border-radius:8px;  width:100%; height:230px;}
.events_page .session_cards a{text-decoration:none;}
.events_page .session_cards .session_org{width: 100%; text-align: center; position: static; margin-top: 26px; transform: none; transition: .5s ease all;
height: 73px;  margin: 0; padding: 15px 0 0; }
.events_page .session_cards .session_org img{height: 57px;}
.events_page .session_cards .session_venue{text-align: left; left: 6%; transform: none; padding-right: 48px; margin-bottom: 0;}
.events_page .session_cards .session_desc{position:static; opacity:1; width:100%; color:#000; padding:15px;  transition: .5s all ease; transform:none; font-size:12px; font-family: poppins-semibold;}
.events_page .session_cards:hover .session_desc{opacity:1; top:50%; position:static; transform:none; transition: .5s all ease; transform-origin: top left;}
.events_page .session_cards .session_flag{position: absolute; right: 6px; bottom: 6px; transition: .5s ease all; width: 40px; height: 40px;}
.events_page .session_cards:hover .session_flag{border-radius:5px; width:40px; right:6px;}*/

/*======End Event Page=====*/
.footer{font-family:poppins-regular; font-size:12px; color:#fff; text-align:center; padding:40px 0 15px;}

@media(max-height:1080px)
{
	.featured_bg .bio{width: 643px;}
}
@media(max-height:900px)
{
	.featured_bg .bio{width: 530px;}
}


@media(max-width:991px)
{
	
}

@media(max-width:768px)
{
	.logo img{width: 110px;}
	.featured_bg .bio{width:100%;}
	.featured_bg .bio .designation{display:none;}
	h4.main-heading {
		font-family: poppins-semibold;
		font-size: 25px;
		color: #fff;
		margin-bottom: 30px;
	}
	.about-area{height:auto !important; padding:100px 0 0 !important;}
	.media-area{height:auto !important; }
	.speaking_sessions, .social_presence{padding: 100px 0 0;}
	.footer{padding: 60px 0 55px;}
	.banner_section .element{font-size:25px;}
	
}
@media(max-width:560px)
{
	.featured_bg .bio{width:100%;}
	.featured_bg .bio .designation{display:none;}
}
@media(max-width:480px)
{
	.social_icons li{
		 padding-right: 0px; 
		 padding-left: 0px; 
	 }
}



@media(max-width:420px)
{
	.featured_bg .bio .other_links.link-left {
		left: 20px;
	}
	.featured_bg .bio .other_links.link-right {
		right: 56px;
	}
	.featured_bg {		
		padding-top: 30%;
	}
}
